/* Split the screen in half */
.homebutton {
    right: 0px;
    width: 125px;
    padding-top: 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 2;}
	
.homebutton a {
    display: block;
    margin-bottom: 1em;
    padding: 0.3em 1.25em;
    border: 1px solid #c2c7cc; 
    font-family: 'Open-Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.667em;
    text-decoration: none;
    color: #8a9199;
    cursor: pointer;
    background: #fff;
    transition: color,border-color ease 0.3s;
    border-radius: 2em;
}
.homebutton a:hover {
    border-color: #42B6F3;
    color: #42B6F3;
    text-decoration: none;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(0, 0, 0);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(44 49 151);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }